version: '3'

services:
  juice-shop:
    image: bkimminich/juice-shop:latest
    container_name: juice-shop
    ports:
      - "3000:3000"
    restart: unless-stopped

  dvwa:
    image: vulnerables/web-dvwa:latest
    container_name: dvwa
    ports:
      - "8080:80"
    restart: unless-stopped

  webgoat:
    image: webgoat/webgoat:latest
    container_name: webgoat
    ports:
      - "8082:8080"
    restart: unless-stopped
